h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.block{
    background: rgba(250, 250, 250, 0.662);
    height: 100;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-left: 2px solid black ;
    border-right    : 2px solid black ;
    text-decoration: none;
}
.container{
    display: flex;
    align-items: center;
}
.container p{
    font-size: 30px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-weight: 700;
}
@media (max-width: 1000px) {

    .container,
    .container2 {
        flex-direction: column;
    }
    .block{
        width: 700px;
    }
}

p{
    margin-left: 10px;
    margin-right: 10px;
}
.reizen{
    background-image: url(/images/werkenbuitenland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    background-position: center ;
}

.problemen{
    background-image: url(/images/problemen.jpg);
    text-decoration: none;
}
.link{
    -webkit-text-stroke: 2px black;
    text-decoration: none;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}

a:link{
    text-decoration: none !important;
}
p{
    text-align: center;
}

.paragraph ul {
    text-align: center;
    list-style: inside;
    margin-left: -70px;
}
.paragraph{
    margin-right: auto;
    margin-left: auto;
}
.paragraph p{
    font-weight: 600;
}